In [3]:
name = [ "ali" ,"humza", 20 ]
type(name)

list

In [4]:
name = ( "ali" ,"humza", 20 )
type(name)

tuple

In [6]:
name = {"huza", "israr","kashif", "israr"}# it will not print samme valus again

print(name)
type(name)

{'israr', 'huza', 'kashif'}

set

In [7]:
name = {"huza", "israr","kashif", "israr"}# it will not print samme valus again
print(name)
name = list(name) #set to tuple conversion
type(name)

{'israr', 'huza', 'kashif'}

list

In [14]:
data = {"name":"Israr ul haq",
        "Father name":"M Riaz"
       }

data["name"]
data["Father name"]

'M Riaz'

In [12]:
data = {"name":"Israr ul haq",
        "Father name":"M Riaz"
       }

type(data)

dict

In [15]:
list(data)

['name', 'Father name']

In [18]:
name1 = "israr ul haq"
name2 = "israr ul haq"
print(name1 == name2)

True

In [3]:
#concatination
name = "israr"
fname= "riaz"
program = "piaic"

#using %

print("student name: %s \n father name : %s \n Program: %s"% (name,fname,program))

student name: israr
 father name : riaz
 Program: piaic

In [6]:
name = "israr"
fname= "riaz"
program = "piaic"

#using + here data type meters
print("student name:" + name + "\n FName :" + fname + "\nprogram :" + program)

student name:israr
 FName :riaz
program :piaic

In [10]:
name = "israr"
fname= "riaz"
program = "piaic"

#using f  here no data type meters
print(f"student name: {name} \n FName : {fname} \n program :  {program}")

student name: israr
 FName : riaz
 program :  piaic

In [11]:
"Name: {} , \n Father name: {}".format(name, fname)

'Name: israr , \n Father name: riaz'

In [12]:
"Name: {1} , \n Father name: {0}".format(name, fname)

'Name: riaz , \n Father name: israr'

In [14]:
name = "israr"
fname= "riaz"
program = "piaic"
scoure = 500
#using f  here no data type meters

print(f"student name: {name} \n FName : {fname} \n program :  {program} \n scoure: {scoure}")

student name: israr
 FName : riaz
 program :  piaic
 scoure: 500

In [15]:
z = "israr"
dir(z)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [1]:
print(5 + 7) #operation
# + operatoer
# PEMDAS
# 5 , 7 are operands
print (8 * 7 + 3 / 2 - 4)
# 56 + 3 / 2 - 4
# 56 + 1.5 - 4

12
53.5

In [2]:
a = 7
b = 7

print (a)
print (b)

7
7

In [3]:
print (id(a)) #in python if the valuse are same then address will be the same..this can help to save our memory
print (id(b))

1447213712
1447213712

In [4]:
string = "my name is iSRar ul haq"

string.capitalize()

'My name is israr ul haq'

In [6]:
string.casefold()    #lower all character of string

'my name is israr ul haq'

In [9]:
print(string.count('i'))     #print total number of a character that how many times it is in a string
print(string.count('n

2
1

In [10]:
string.encode()

b'my name is israr ul haq'

In [15]:
new='New \t text'
new.expandtabs(4)          #for spacing

'New      text'

In [19]:
new.find('e') #return the index of the character in a string

1

In [20]:
string.title()   #turns first alphabet of each word to capital

'My Name Is Israr Ul Haq'

In [21]:
fo='    pakistan    '
fo.strip()   #removes spaces from start and end

'pakistan'

In [23]:
fo.islower()

True

In [24]:
fo.isdigit()        #return True if string have any digit

False

In [25]:
fo.isdecimal()

False

In [26]:
fo.isalpha()

False

In [27]:
fo.isalnum()         #return true if string is alphanumeic or not

False

In [28]:
name="Israr ul haq"
print(name.upper())

ISRAR UL HAQ

In [30]:
name="pakistan Isamabad"
print(name.rsplit())#it returns the string in list

['pakistan', 'Isamabad']

In [31]:
name="pakitan islamabad"
print(name.split())#it convert the string into list

['pakitan', 'islamabad']