# Pre define functions

In [1]:
print("abc")
print(type(22))

abc
<class 'int'>

In [3]:
def printer():
    print("Pakistan Zinda Bad")
    print("We are pakistani") 
    print("We love our country!")

In [4]:
printer()

Pakistan Zinda Bad
We are pakistani
We love our country!

# Arguments

In [5]:
def id_card(sid, sname,fname,course, timing):
    text = """
    PIAIC Islamabad
    id: {}
    Name: {}
    father's Name: {}
    course:  {}
    timing: {}
    """.format(sid,sname,fname,course,timing)
    print(text)
    
id_card(1,"Ali",'Hamza','A.I','9 to 12')    
id_card(2,"Kashif","Kamran","Cloud Computing", "3:30 to 6:30")

    PIAIC Islamabad
    id: 1
    Name: Ali
    father's Name: Hamza
    course:  A.I
    timing: 9 to 12


    PIAIC Islamabad
    id: 2
    Name: Kashif
    father's Name: Kamran
    course:  Cloud Computing
    timing: 3:30 to 6:30

In [7]:
data =[[1,"Qasim","Aslam","A.I","9 to 12"],
      [2,"Hamza","Khalid","Cloud","12:15 to 3:15"],
      [3,"Rauf","Hussain","Quantum Computing","12AM"]]

for v in data:
    id_card(*v)

    PIAIC Islamabad
    id: 1
    Name: Qasim
    father's Name: Aslam
    course:  A.I
    timing: 9 to 12


    PIAIC Islamabad
    id: 2
    Name: Hamza
    father's Name: Khalid
    course:  Cloud
    timing: 12:15 to 3:15


    PIAIC Islamabad
    id: 3
    Name: Rauf
    father's Name: Hussain
    course:  Quantum Computing
    timing: 12AM

# Return Functions

In [12]:
def id_card(sid, sname,fname,course, timing):
    text = """
    PIAIC Islamabad
    id: {}
    Name: {}
    father's Name: {}
    course:  {}
    timing: {}
    """.format(sid,sname,fname,course,timing)
    return text
    

print(id_card(1,"A","B","C","D"))

    PIAIC Islamabad
    id: 1
    Name: A
    father's Name: B
    course:  C
    timing: D